/*
 *   Copyright 2016 OSBI Ltd
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

/*! =========================================================================
   BOOTSTRAP CUSTOM
   ========================================================================= */
   
.row
  margin-right -10px
  margin-left -10px
  
.col-lg-1
.col-lg-10
.col-lg-11
.col-lg-12
.col-lg-2
.col-lg-3
.col-lg-4
.col-lg-5
.col-lg-6
.col-lg-7
.col-lg-8
.col-lg-9
.col-md-1
.col-md-10
.col-md-11
.col-md-12
.col-md-2
.col-md-3
.col-md-4
.col-md-5
.col-md-6
.col-md-7
.col-md-8
.col-md-9
.col-sm-1
.col-sm-10
.col-sm-11
.col-sm-12
.col-sm-2
.col-sm-3
.col-sm-4
.col-sm-5
.col-sm-6
.col-sm-7
.col-sm-8
.col-sm-9
.col-xs-1
.col-xs-10
.col-xs-11
.col-xs-12
.col-xs-2
.col-xs-3
.col-xs-4
.col-xs-5
.col-xs-6
.col-xs-7
.col-xs-8
.col-xs-9
  padding-right 10px
  padding-left 10px
  
/*! BACKGROUND COLORS
   ========================================================================= */

.bg-custom 
  background-color $custom !important

.bg-primary 
  background-color $primary !important

.bg-success 
  background-color $success !important

.bg-info 
  background-color $info !important

.bg-warning 
  background-color $warning !important

.bg-danger 
  background-color $danger !important

.bg-inverse 
  background-color $inverse !important
  
.bg-muted 
  background-color $muted !important

.bg-white 
  background-color $white !important

.bg-lightdark 
  background-color $lightdark !important

/*! TEXT COLORS
   ========================================================================= */

.text-custom 
  color $custom
  
.text-primary 
  color $primary
  
.text-success 
  color $success
  
.text-info 
  color $info
  
.text-warning 
  color $warning

.text-danger 
  color $danger
  
.text-inverse 
  color $inverse

.text-muted 
  color $muted
  
.text-white 
  color $white

.text-dark 
  color $lightdark7 !important
  
/*! DROPDOWN
   ========================================================================= */
   
.dropdown-menu
  padding 4px 0
  border 0
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  transition all 300ms ease
  > li
    > a
      padding 6px 20px
  > .active
    > a
    a:hover
    a:focus
      color #36404a
      background-color #f3f3f3
      
/*! BADGE
   ========================================================================= */
   
.badge
  margin-top 1px
  padding 3px 5px
  font-size 12px
  font-weight 600
  background-color #5fbeaa  
  text-transform uppercase
  
.badge-xs
  font-size 9px

.badge-xs
.badge-sm
  transform translate(0, -2px)

.badge-primary
  background-color #5d9cec;

.badge-success
  background-color #81c868;

.badge-info
  background-color #34d3eb;

.badge-warning
  background-color #ffbd4a;

.badge-danger
  background-color #f05050;

.badge-inverse
  background-color #4c5667;