/*
 *   Copyright 2016 OSBI Ltd
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

/*! =========================================================================
   BUTTON
   ========================================================================= */

.btn
  border-radius 3px
  outline none !important
  
/*! =========================================================================
   CHECKBOX
   ========================================================================= */
   
.checkbox
  padding-left 20px
  label
    position relative
    display inline-block
    padding-left 5px
    &::before
      position absolute
      left 0
      display inline-block
      width 17px
      height 17px
      margin-left -20px
      border 1px solid $lightdark-alt
      border-radius 3px
      outline none !important
      background $white
      content ""
      transition 0.3s ease-in-out
    &::after
      position absolute
      top 0
      left 0
      display inline-block
      width 16px
      height 16px
      margin-left -20px
      padding-top 1px
      padding-left 3px
      font-size 11px
      color $lightdark5
  input[type="checkbox"]
    z-index 1
    opacity 0
    outline none !important
    cursor pointer
    &:disabled + label
      opacity 0.65
    &:focus + label::before
      outline none
      outline thin dotted
      outline-offset -2px
    &:checked + label
      &::after
        font-family "FontAwesome"
        content "\f00c"
    &:disabled + label
      &::before
        background #eee
        cursor not-allowed
      
.checkbox-primary
  input[type="checkbox"]:checked + label
    &::before
      border-color $primary
      background $primary
    &::after
      color $white
