/*! =========================================================================
   BUTTON
   ========================================================================= */

.btn
  border-radius 3px
  outline none !important
