*
  outline none
  
html
  position relative
  min-height $height
  background $light2

body
  background $light2
  font-family $font-primary
  margin 0
  overflow-x hidden
  color #797979
  
h1
h2
h3
h4
h5
h6
  color #505458
  font-family $font-secondary
  margin 10px 0
  
h1
  line-height 43px
  
h2
  line-height 35px
  
h3
  line-height 30px
  small
    color $lightdark4
    
h4
  line-height 22px
  small
    color $lightdark4
    
h5
  line-height 15px
  small
    color $lightdark4

p
  line-height 1.6
  
b
  font-weight 600
  
a
  &:hover
  &:active
  &:focus
    outline 0
    text-decoration none
    
.container
  width auto
  
.container
  margin-left auto
  margin-right auto
  padding-left 15px
  padding-right 15px
  
.wrapper
  overflow hidden
  height $height
  width $width
  