/*
 *   Copyright 2016 OSBI Ltd
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

/*! =========================================================================
   CORE
   ========================================================================= */

*
  outline none !important
  
html
  position relative
  min-height $height
  background $light5

body
  overflow-x hidden
  margin 0
  font-family $font-primary
  font-weight 400
  color #797979
  background $light5
  
h1
h2
h3
h4
h5
h6
  margin 10px 0
  font-family $font-secondary
  color #505458
  
h1
  line-height 43px
  
h2
  line-height 35px
  
h3
  line-height 30px
  small
    color $lightdark4
    
h4
  line-height 22px
  small
    color $lightdark4
    
h5
  line-height 15px
  small
    color $lightdark4

p
  line-height 1.6
  
b
  font-weight 600
  
a
  &:hover
  &:active
  &:focus
    outline 0
    text-decoration none
    
.container
  width auto
  
.container-alt
  margin-right auto
  margin-left auto
  padding-right 15px
  padding-left 15px
  
.wrapper
  overflow hidden
  width $width
  height $height
  
.wrapper-page
  position relative
  width 420px
  margin 5% auto
  
.content-box
  margin-bottom 20px
  padding 20px
  border-radius 5px
  background white
  background-clip padding-box
  border 1px solid rgba(54, 64, 74, 0.1)
    
.bg-page
  // background url("../../dist/assets/images/bgpage/bg1.jpg")
  position absolute
  width $width
  height $height
  
.user-thumb
  position relative
  z-index 9999
  
.user-thumb img
  width 88px
  height 88px
  margin 0px auto
  
.content-page
  overflow hidden
  margin-left 240px
  > .content
    margin-top 60px
    // margin-bottom 60px
    padding 20px 5px 15px 5px
