/*! =========================================================================
   CORE
   ========================================================================= */

*
  outline none !important
  
html
  position relative
  min-height $height
  background $light3

body
  overflow-x hidden
  margin 0
  font-family $font-primary
  font-weight 400
  color #797979
  background $light3
  
h1
h2
h3
h4
h5
h6
  margin 10px 0
  font-family $font-secondary
  color #505458
  
h1
  line-height 43px
  
h2
  line-height 35px
  
h3
  line-height 30px
  small
    color $lightdark4
    
h4
  line-height 22px
  small
    color $lightdark4
    
h5
  line-height 15px
  small
    color $lightdark4

p
  line-height 1.6
  
b
  font-weight 600
  
a
  &:hover
  &:active
  &:focus
    outline 0
    text-decoration none
    
.container
  width auto
  
.container-alt
  margin-right auto
  margin-left auto
  padding-right 15px
  padding-left 15px
  
.wrapper
  overflow hidden
  width $width
  height $height
  
.content-box
  margin-bottom 20px
  padding 20px
  border-radius 5px
  background $white
  background-clip padding-box
  box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 4px 0 rgba(0, 0, 0, 0.08)
  
.wrapper-page
  position relative
  width 420px
  margin 5% auto
  .content-box
    border 1px solid rgba(54, 64, 74, 0.1)
    
.bg-page
  // background url("../../dist/assets/images/bgpage/bg1.jpg")
  position absolute
  width $width
  height $height
  
.user-thumb
  position relative
  z-index 9999
  
.user-thumb img
  width 88px
  height 88px
  margin 0px auto  
