/*! =========================================================================
   PANELS
   ========================================================================= */

.panel
  margin-bottom 20px
  border none
  .panel-body
    padding 20px
    p
      margin 0
      + p
        margin-top 15px

.panel-heading
  padding 10px 20px
  border none !important
