/*
 *   Copyright 2016 OSBI Ltd
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

/*! =========================================================================
   PORTLET
   ========================================================================= */
   
.portlet
  margin-bottom 20px
  border 1px solid rgba(54, 64, 74, 0.05)
  border-radius 5px
  background white
  background-clip padding-box
  .portlet-heading
    padding 12px 20px
    color white
    border-radius 3px 3px 0px 0px
    background-clip padding-box
    .portlet-title
      float left
      margin-top 0
      margin-bottom 0
      font-size 15px
      font-weight 600
      // color white
      letter-spacing 0.03em
      // text-transform uppercase
    .portlet-widgets
      position relative
      display inline-block
      float right
      padding-left 15px
      font-size 15px
      line-height 30px
      text-align right
      .divider
        margin 0 5px
    a
      color #999
  .portlet-body
    padding 15px
    border-bottom-right-radius 5px
    border-bottom-left-radius 5px
    background white
