/*! =========================================================================
   RESPONSIVE
   ========================================================================= */

@media (min-width: 768px) and (max-width: 991px)
  body
    overflow-x hidden

@media (max-width: 767px)
  body
    overflow-x hidden

  .wrapper-page
    width 90%
