<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">js/components/saiku/Toolbar.jsx | API Document</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  
  
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <a data-ice="repoURL" href="https://github.com/OSBI/meteorite-core-ui" class="repo-url-github">Repository</a>
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">collections</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/collections/CubesCollection.js~CubesCollection.html">CubesCollection</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/collections/MenubarCollection.js~MenubarCollection.html">MenubarCollection</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/collections/SidebarCollection.js~SidebarCollection.html">SidebarCollection</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/collections/ToolbarCollection.js~ToolbarCollection.html">ToolbarCollection</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/bootstrap</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/bootstrap/Clearfix.jsx~Clearfix.html">Clearfix</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/bootstrap/FormGroup.jsx~FormGroup.html">FormGroup</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/saiku</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Content.jsx~Content.html">Content</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Icon.jsx~Icon.html">Icon</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/MenuBar.jsx~MenuBar.html">MenuBar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/NotFound.jsx~NotFound.html">NotFound</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Portlet.jsx~Portlet.html">Portlet</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Sidebar.jsx~Toolbar.html">Toolbar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/SidebarOlap.jsx~SidebarOlap.html">SidebarOlap</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/SidebarReporting.jsx~SidebarReporting.html">SidebarReporting</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Tab.jsx~Tab.html">Tab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Tabs.jsx~Tabs.html">Tabs</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Toolbar.jsx~Toolbar.html">Toolbar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/ToolbarReporting.jsx~ToolbarReporting.html">ToolbarReporting</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Workspace.jsx~Workspace.html">Workspace</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Wrapper.jsx~Wrapper.html">Wrapper</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/saiku/query_designer/components</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/query_designer/components/CubeSelector.jsx~CubeSelector.html">CubeSelector</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/query_designer/components/ReportPreview.jsx~ReportPreview.html">ReportPreview</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/saiku/query_designer/stores</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/query_designer/stores/CubesStore.js~CubesStoreFactory.html">CubesStoreFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/query_designer/stores/SelectedDimensionsStore.js~SelectedDimensionsStoreFactory.html">SelectedDimensionsStoreFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/query_designer/stores/SelectedMeasuresStore.js~SelectedMeasuresStoreFactory.html">SelectedMeasuresStoreFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-CubesStore">CubesStore</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SelectedDimensionsStore">SelectedDimensionsStore</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SelectedMeasuresStore">SelectedMeasuresStore</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">models</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/CubeModel.js~CubeModel.html">CubeModel</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/MenubarModel.js~MenubarModel.html">MenubarModel</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/Session.js~Session.html">Session</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/SidebarModel.js~SidebarModel.html">SidebarModel</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/ToolbarModel.js~ToolbarModel.html">ToolbarModel</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">utils</div><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-Base64">Base64</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-Settings">Settings</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">js/components/saiku/Toolbar.jsx</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">/*
 *   Copyright 2016 OSBI Ltd
 *
 *   Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

import React from &apos;react&apos;;
import autoBind from &apos;react-autobind&apos;;
import _ from &apos;underscore&apos;;
import {
  Row,
  Col,
  Navbar,
  Nav,
  NavItem,
  OverlayTrigger,
  Tooltip
} from &apos;react-bootstrap&apos;;
import Icon from &apos;./Icon&apos;;
import ToolbarCollection from &apos;../../collections/ToolbarCollection&apos;;

class Toolbar extends React.Component {
  constructor(props) {
    super(props);

    this.state = {
      models: &apos;&apos;
    };

    this._toolbarUI = new ToolbarCollection();

    autoBind(this, &apos;_handleFetchUI&apos;);
  }

  componentDidMount() {
    this._toolbarUI.fetch({
      success: this._handleFetchUI
    });
  }

  _handleFetchUI(toolbarUI) {
    this.setState({
      models: toolbarUI.models[0]
    });
  }

  _renderNavItem(item, index) {
    let key = _.uniqueId(`nav_item_${index}_`);
    let isItemVisible = !item.visible ? &apos;hidden&apos; : &apos;&apos;;
    let tooltip = (
      &lt;Tooltip id={key}&gt;{item.name}&lt;/Tooltip&gt;
    );

    return (
      &lt;NavItem
        className={isItemVisible}
        id={key}
        key={key}
        eventKey={key}
        href={item.action}
      &gt;
        &lt;OverlayTrigger placement=&quot;bottom&quot; overlay={tooltip}&gt;
          &lt;Icon name={item.icon} /&gt;
        &lt;/OverlayTrigger&gt;
      &lt;/NavItem&gt;
    );
  }

  render() {
    let items = (this.state &amp;&amp; !(_.isEmpty(this.state.models))) ?
      this.state.models.getItem() : [];

    return (
      &lt;Navbar className=&quot;toolbar&quot;&gt;
        &lt;Row&gt;
          &lt;Col md={3}&gt;
            &lt;Navbar.Header&gt;
              &lt;Navbar.Text&gt;Cubes&lt;/Navbar.Text&gt;
            &lt;/Navbar.Header&gt;
          &lt;/Col&gt;
          &lt;Col md={9}&gt;
            &lt;Nav&gt;
              {items.map(this._renderNavItem)}
            &lt;/Nav&gt;
          &lt;/Col&gt;
        &lt;/Row&gt;
      &lt;/Navbar&gt;
    );
  }
}

export default Toolbar;
</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(0.4.5)</span></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
