<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../../../">
  <title data-ice="title">js/components/saiku/QueryDesigner/components/CubeSelector.jsx | API Document</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  
  
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <a data-ice="repoURL" href="https://github.com/OSBI/meteorite-core-ui" class="repo-url-github">Repository</a>
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">collections</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/collections/CubesCollection.js~CubesCollection.html">CubesCollection</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/collections/MenubarCollection.js~MenubarCollection.html">MenubarCollection</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/collections/SidebarCollection.js~SidebarCollection.html">SidebarCollection</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/collections/ToolbarCollection.js~ToolbarCollection.html">ToolbarCollection</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/bootstrap</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/bootstrap/Clearfix.jsx~Clearfix.html">Clearfix</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/bootstrap/FormGroup.jsx~FormGroup.html">FormGroup</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/saiku</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Content.jsx~Content.html">Content</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Icon.jsx~Icon.html">Icon</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Logo.jsx~Logo.html">Logo</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/MenuBar.jsx~MenuBar.html">MenuBar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/NotFound.jsx~NotFound.html">NotFound</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Sidebar.jsx~Toolbar.html">Toolbar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Tab.jsx~Tab.html">Tab</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Tabs.jsx~Tabs.html">Tabs</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Toolbar.jsx~Toolbar.html">Toolbar</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/Wrapper.jsx~Wrapper.html">Wrapper</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/saiku/QueryDesigner/components</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/QueryDesigner/components/CubeSelector.jsx~CubeSelector.html">CubeSelector</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/QueryDesigner/components/ReportPreview.jsx~ReportPreview.html">ReportPreview</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components/saiku/QueryDesigner/stores</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/QueryDesigner/stores/CubesStore.js~CubesStoreFactory.html">CubesStoreFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/QueryDesigner/stores/SelectedDimensionsStore.js~SelectedDimensionsStoreFactory.html">SelectedDimensionsStoreFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/components/saiku/QueryDesigner/stores/SelectedMeasuresStore.js~SelectedMeasuresStoreFactory.html">SelectedMeasuresStoreFactory</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-CubesStore">CubesStore</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SelectedDimensionsStore">SelectedDimensionsStore</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SelectedMeasuresStore">SelectedMeasuresStore</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">models</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/CubeModel.js~CubeModel.html">CubeModel</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/MenubarModel.js~MenubarModel.html">MenubarModel</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/Session.js~Session.html">Session</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/SidebarModel.js~SidebarModel.html">SidebarModel</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/models/ToolbarModel.js~ToolbarModel.html">ToolbarModel</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">utils</div><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-Base64">Base64</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-Settings">Settings</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">views</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/js/views/Workspace.jsx~Workspace.html">Workspace</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">js/components/saiku/QueryDesigner/components/CubeSelector.jsx</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">/**
 *   Copyright 2016 OSBI Ltd
 *
 *   Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */

import React from &apos;react&apos;;
import _ from &apos;underscore&apos;;
import autoBind from &apos;react-autobind&apos;;
import TreeView from &apos;react-treeview&apos;;
import { Panel } from &apos;react-bootstrap&apos;;
import Dimension from &apos;./Dimension&apos;;
import Measure from &apos;./Measure&apos;;
import CubesStore from &apos;../stores/CubesStore&apos;;
import SelectedDimensionsStore from &apos;../stores/SelectedDimensionsStore&apos;;
import SelectedMeasuresStore from &apos;../stores/SelectedMeasuresStore&apos;;

/**
 * This component displays a tree of OLAP cubes, retrived from server, via
 * stores/CubesStore. An OLAP component is composed by dimensions and measures,
 * displayed, respectively, by &lt;Dimension/&gt; and &lt;Measure/&gt; components.
 */
class CubeSelector extends React.Component {
  /**
   * Component&apos;s constructor, responsbile for setting its initial state, which
   * contains the cube data, which cubes and measures are selected. This
   * information is retrived from stores/CubesStore,
   * stores/SelectedDimensionsStore and stores/SelectedMeasuresStore.
   */
  constructor(props) {
    super(props);

    this.state = {
      cubes: CubesStore.getCubes(),
      selectedDimensions: SelectedDimensionsStore.getSelectedDimensions(),
      selectedMeasures: SelectedMeasuresStore.getSelectedMeasures()
    };

    autoBind(this);
  }

  /**
   * This method is automatically called be React runtime when the component is
   * filled with data and rendered (mounted). It registers this component as a
   * listener of the stores, so, if any change happened to them, the component
   * is notified.
   */
  componentDidMount() {
    CubesStore.addChangeListener(this._cubesChanged);
    SelectedDimensionsStore.addChangeListener(this._selectedDimensionsChanged);
    SelectedMeasuresStore.addChangeListener(this._selectedMeasuresChanged);
  }

  /**
   * This method is called automatically when the component is to be removed
   * from HTML DOM. It removes the change listeners associated to this component
   * to avoid memory leaks.
   */
  componentWillUnmount() {
    CubesStore.removeChangeListener(this._cubesChanged);
    SelectedDimensionsStore.removeChangeListener(
      this._selectedDimensionsChanged);
    SelectedMeasuresStore.removeChangeListener(this._selectedMeasuresChanged);
  }

  /**
   * Method called whenever a change on cubes data happens.
   */
  _cubesChanged() {
    this.setState({
      cubes: CubesStore.getCubes()
    });
  }

  /**
   * Method called whenever a change on selected dimensions happens.
   */
  _selectedDimensionsChanged() {
    this.setState({
      selectedDimensions: SelectedDimensionsStore.getSelectedDimensions()
    });
  }

  /**
   * Method called whenever a change on selected measures happens.
   */
  _selectedMeasuresChanged() {
    this.setState({
      selectedMeasures: SelectedMeasuresStore.getSelectedMeasures()
    });
  }

  /**
   * CubeSelector component render method. It creates a &lt;Panel/&gt; component with
   * a class &apos;drop-panel&apos; and, for each cube, it than calls the _renderTreeNode
   * function.
   */
  render() {
    return (
      &lt;Panel header=&quot;Cubes&quot; bsStyle=&quot;success&quot; className=&quot;drop-panel&quot;&gt;
        {this.state.cubes.map(this._renderTreeNode)}
      &lt;/Panel&gt;
    );
  }

  /**
   * Method called for each cube, in order to render its information, as a tree
   * node, and the information of its dimensions and measures as children of
   * this node.
   * @param {Object} data - object containing cube&apos;s information.
   */
  _renderTreeNode(data) {
    let id = _.uniqueId(&apos;treenode_&apos;);
    let label = &lt;span className=&quot;node&quot;&gt;{data.name}&lt;/span&gt;;

    return (
      &lt;TreeView key={id} nodeLabel={label} defaultCollapsed={false}&gt;
        {this._renderDimensions(data)}
        {this._renderMeasures(data)}
      &lt;/TreeView&gt;
    );
  }

  // Dimensions functions
  /**
   * This method renders the dimension information as a tree node (child of a
   * cube&apos;s tree node). For each dimension, it will call the _renderDimension
   * function.
   * @param {Object[]} data - array containing cube&apos;s dimensions.
   */
  _renderDimensions(data) {
    if (data.dimensions) {
      return (
        &lt;TreeView nodeLabel=&quot;Dimensions&quot; defaultCollapsed={false}&gt;
          &lt;ul&gt;
            {data.dimensions.map(this._renderDimension)}
          &lt;/ul&gt;
        &lt;/TreeView&gt;
      );
    }
  }

  /**
   * Method that will render a dimension, displaying a &lt;Dimension/&gt; component,
   * if it is visible, determined by the _isDimensionVisible method.
   * @param {Object} data - object containing dimension information.
   */
  _renderDimension(data) {
    let id = &apos;dimension_&apos; + data.name;

    if (this._isDimensionVisible(id)) {
      return (
        &lt;Dimension id={id} key={id} name={data.name}/&gt;
      );
    }
  }

  /**
   * A dimension should be displayed if, and only if, is not selected. In other
   * words, if it is not on &lt;DimensionsList/&gt; component. This is a simple helper
   * method which returns true if a dimension is not selected.
   * @param {string} dimensionId - The id of the dimension which visibility is
   * to be determined.
   */
  _isDimensionVisible(dimensionId) {
    return !SelectedDimensionsStore.isSelected({id: dimensionId});
  }

  // Measures functions
  /**
   * This method renders the measure information as a tree node (child of a
   * cube&apos;s tree node). For each measure, it will call the _renderMeasure
   * function.
   * @param {Object[]} data - array containing cube&apos;s measures.
   */
  _renderMeasures(data) {
    if (data.measures) {
      return (
        &lt;TreeView nodeLabel=&quot;Measures&quot; defaultCollapsed={false}&gt;
          &lt;ul&gt;
            {data.measures.map(this._renderMeasure)}
          &lt;/ul&gt;
        &lt;/TreeView&gt;
      );
    }
  }

  /**
   * Method that will render a measure, displaying a &lt;Measure/&gt; component,
   * if it is visible, determined by the _isMeasureVisible method.
   * @param {Object} data - object containing measure information.
   */
  _renderMeasure(data) {
    let id = &apos;measure_&apos; + data.name;

    if (this._isMeasureVisible(id)) {
      return (
        &lt;Measure id={id} key={id} name={data.name}/&gt;
      );
    }
  }

  /**
   * A measure should be displayed if, and only if, is not selected. In other
   * words, if it is not on &lt;MeasuresList/&gt; component. This is a simple helper
   * method which returns true if a measure is not selected.
   * @param {string} measureId - The id of the measure which visibility is to be
   * determined.
   */
  _isMeasureVisible(measureId) {
    return !SelectedMeasuresStore.isSelected({id: measureId});
  }
}

export default CubeSelector;
</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(0.4.6)</span></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
